[submodule "Petalinux-v2018.3"]
	path = Petalinux-v2018.3
	url = https://github.com/denishoornaert/Petalinux-v2018.3.git
	branch = main
[submodule "jailhouse-rt"]
	path = jailhouse-rt
	url = https://github.com/rntmancuso/jailhouse-rt.git
	branch = wip/fiq
[submodule "ARM-Trusted-Firmware-FIQ"]
	path = ARM-Trusted-Firmware-FIQ
	url = https://github.com/denishoornaert/ARM-Trusted-Firmware-FIQ.git
	branch = main
