# To modify
## path
mode=# Path taken by the transactions. Either "main-route", "dual-slave" or "simple-loop-back"
## bombs
amount_of_bombs=# Amount of Memory Bombs desired. Must be included in the interval [0 : 3]
bombing_mode=# Either read or write
## SchIM
scheduling_policy=# Either fp, tdma, ts or NA
priorities=# Concatenation of the prorities (see demo/Readme.md). Only for FP
period_core_0=# TDMA slot for core 0. Only for tdma mode
period_core_1=# TDMA slot for core 1. Only for tdma mode
period_core_2=# TDMA slot for core 2. Only for tdma mode
period_core_3=# TDMA slot for core 3. Only for tdma mode
mit_core_0=# Minimal inter-arrivcal time between two transactions for core 0. Only for ts
mit_core_1=# Minimal inter-arrivcal time between two transactions for core 1. Only for ts
mit_core_2=# Minimal inter-arrivcal time between two transactions for core 2. Only for ts
mit_core_3=# Minimal inter-arrivcal time between two transactions for core 3. Only for ts
threshold_core_0=# Anything in the interval [0 : 16] for core 0. Note: 0 means no FIQ regulation
threshold_core_1=# Anything in the interval [0 : 16] for core 1. Note: 0 means no FIQ regulation
threshold_core_2=# Anything in the interval [0 : 16] for core 2. Note: 0 means no FIQ regulation
threshold_core_3=# Anything in the interval [0 : 16] for core 3. Note: 0 means no FIQ regulation
## Benchmark
samples=# Amount of measurements taken for the benchmark
## Path(s)
dest_dir=# Folder where to dump the raw data issued from the benchmarks

# Do not modify
first_bomb=1
last_bomb=$(( first_bomb + amount_of_bombs - 1 ))
if [ "$mode" == "main-route" ]; then core_0_target_address=0x0800000000; else core_0_target_address=0x1000000000; fi
core_0_target_address=${core_0_target_address:2}
